<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="students" class="nav-link" routerLinkActive="active">Student List</a>
    </li>
    <li class="nav-item">
      <a routerLink="registerStudent" class="nav-link" routerLinkActive="active">Register Student</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">Student Management System</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
   
  </div>
</footer>